body {
  background-color: rgb(24, 23, 23);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.janelas-flutuantes {
  position: relative;
  z-index: 1;
}

.janelas-flutuantes>div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #403a3a;
  border: 1px solid #7b7765;
  border-radius: 5px;
}

.icone-duvida {
  display: inline-block;
  color: #ffd21f;
  font-weight: bold;
  margin: 0px 5px 0px 5px;
  padding: 0px 5px 0px 5px;
  font-family: inherit;
  background-color: #181717;
  border-radius: 10px;
  cursor: help;
}

.icone-duvida:hover {
  background-color: #ffd21f;
  color: #181717;
}

.titulo {
  font-weight: bold;
  color: white;
  font-size: 3rem;
  border-bottom: 3px solid #c5c52deb;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 5px;
  margin: 0;
}

.subtitulo {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  padding: 5px;
  margin: 0;
  /* text-decoration: underline; */
}

.botao {
  padding: 5px;
  margin: 0;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 1px;
}

.botao:hover {
  background-color: rgb(8, 7, 7);
  color: white;
}

.botao:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.botao-ok {
  background-color: #178217;
  color: white;
}

.botao-ok:hover {
  background-color: #22b222;
  color: white;
}

.botao-cancelar {
  background-color: #901616;
  color: white;
}

.botao-cancelar:hover {
  background-color: #c73636;
  color: white;
}

.botao-aviso {
  background-color: rgba(200, 206, 18, 0.959);
  color: black;
}

.botao-aviso:hover {
  background-color: rgba(240, 245, 88, 0.959);
  color: black;
}

.botao-grande {
  margin: 0px auto;
  font-size: 1.4rem;
  margin-top: 30px;
  border: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 3px;
  color: black;
  background-color: rgb(218, 218, 218);
  opacity: 100%;
  cursor: pointer;
}

.botao-grande:disabled {
  opacity: 40%;
  cursor: not-allowed;
}

.botao-grande:hover {
  background-color: rgb(255, 255, 255);
}

.botao-extra {
  background-color: rgb(16, 83, 241);
  color: white;
}

.botao-extra:hover {
  background-color: rgb(61, 112, 231);
}

.botao-grande.ok {
  background-color: rgb(22, 167, 22);
  color: white;
}

.botao-grande.ok:hover {
  background-color: rgb(75, 206, 75);
}

.botao-grande.erro {
  background-color: rgb(200, 21, 21);
  color: white;
}

.botao-grande.erro:hover {
  background-color: rgb(224, 77, 77);
}

select {
  outline: none;
  margin: 0;
  border-radius: 3px;
  font-weight: bold;
  padding: 3px;
  border: 1px solid #291313;
}

input {
  outline: none;
  margin: 0;
  border-radius: 3px;
  font-weight: bold;
  padding: 3px;
  border: 1px solid #291313;
}